<h1>Schedule</h1>
<p>
<strong>Name:</strong>
  <%= @schedule.name %>
</p>
<p>
  <strong>Date:</strong>
  <%= @schedule.dated %>
</p>
<p>
  <strong>Reason:</strong>
  <%= @schedule.reason %>
</p>
<%= link_to 'Back', schedules_path %>